$imgHomePage: url('https://olenaperetiatko.github.io/student_rating_project_lab1/img/background-1.jpg');
$imgLoginPage: url('https://olenaperetiatko.github.io/student_rating_project_lab1/img/profileImg.jpg');

$myBrown: #423b3c;
$myPink: #c3a;