<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/users.css">
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="index.html">Home</a>
            <li><a href="users.html">Users</a></li>
            <li class="right"><a href="login.html">Login</a></li>
            <li class="active"><a href="students.html">Students</a></li>
            <li class="right"><a href="profile.html">Profile</a></li>
        </ul>
    </nav>
</header>
<main class="content">
    <div>
        <h1>See all marks</h1>
        {% for mark in marks %}
        {% if full_names != '' %}
        <p>Full name of student: {{full_names[loop.index-1]}} </p>
        <p>Subject: {{subjects[loop.index-1]}} </p>
        <p>Mark: {{mark['grade']}}</p>
        <p>Teacher: {{teachers[loop.index-1]}}</p>
    {% if current_user.is_admin %}
    <form action="deleteMark/{{mark['id_mark']}}" method="POST">
        <input type="submit" value="Delete Mark"
               class="btn btn-danger btn-sm">
        {% endif %}
    </form>
    <hr>
    {% endif %}
    {% endfor %}
    </div>
</main>
<footer>
    <hr>
    <span>&copy; 2022 Olena Peretiatko</span>
    <nav class="navigation">
        <a href="#">Home</a>
        <a href="#">Users</a>
        <a href="#">Students</a>
    </nav>
</footer>
</body>
</html>